QTableView {
    background: black;
    color: white;
}

QTableView::item:hover, QTableView::item:selected {
    background: gray;
}

QTableView QHeaderView::section {
    background: black;
    border: none;
    border-bottom: 1px solid white;
    color: red;
}






/* hide drop-down arrow */
QComboBox::drop-down {
    height: 0px;
    width: 0px;
    border: none;
}

#testCombo {
    background-color: rgb(0, 0, 0);
    padding: 2px 10px 2px 10px;
    font: normal 14px;
    color: rgb(192,96,255);
    border: 1px solid rgb(127,0,176);
    selection-color: rgb(255,255,255);
    selection-background-color: rgb(127,0,176);
}

QAbstractItemView#testCombo  {
    border: 1px solid rgb(127,0,175);
    background-color: rgb(0,0,0);
}










